.chart-container {
  padding: 20px;
  color: white;
}

.parameter-selector {
  margin-bottom: 20px;
  width: 200px;
}

::ng-deep text{
  color: white;
}

/* ::ng-deep .e-dropdownlist {
  color: white !important;
} */

::ng-deep .e-input-group {
  color: white !important;
}

/* ::ng-deep .e-list-item {
  color: white !important;
} */

::ng-deep .e-ddl .e-input[readonly] {
  color: white !important;
}