<div class="chart-container">
  <div class="parameter-selector">
    <ejs-dropdownlist 
      [dataSource]='parameters'
      [(value)]='selectedParameter'
      (change)='onParameterChange($event)'>
    </ejs-dropdownlist>
  </div>
  
  <ejs-chart #chart 
    class="chart"
    [primaryXAxis]='chartOptions?.primaryXAxis'
    [primaryYAxis]='chartOptions?.primaryYAxis'
    width='100%'
    height='400px'
    [title]="selectedParameter"
    [palettes]='palette'>

    <e-series-collection>
      <e-series 
        [dataSource]='chartData'
        type='Line'
        xName='x'
        yName='y'
        width=2
        [marker]='chartOptions?.series[0].marker'>
      </e-series>
    </e-series-collection>
  </ejs-chart>

  <button mat-raised-button (click)="export()" >print chart</button>
</div>
