.cols{
    display: flex;
    justify-content: space-around;
}

.graphs {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}