<div class="chart-container">
  <div class="parameter-selector">
    <div class="dropdown-group">
      <label>Section:</label>
      <ejs-dropdownlist 
        [dataSource]='sections'
        [(value)]='selectedSection'
        (change)='onSectionChange($event)'>
      </ejs-dropdownlist>
    </div>
    
    <div class="dropdown-group">
      <label>Parameter:</label>
      <ejs-dropdownlist 
        [dataSource]='parameters'
        [(value)]='selectedParameter'
        (change)='onParameterChange($event)'
        [enabled]='parameters.length > 0'>
      </ejs-dropdownlist>
    </div>
  </div>
  
  <ejs-chart #chart 
    class="chart"
    [primaryXAxis]='chartOptions?.primaryXAxis'
    [primaryYAxis]='chartOptions?.primaryYAxis'
    width='100%'
    height='400px'
    [title]="selectedParameter"
    [palettes]='palette'>

    <e-series-collection>
      <e-series 
        [dataSource]='chartData'
        type='Line'
        xName='x'
        yName='y'
        width=2
        [marker]='chartOptions?.series[0].marker'>
      </e-series>
    </e-series-collection>
  </ejs-chart>

  <button mat-raised-button (click)="export()" >print chart</button>
</div>